<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://AFSTpro.github.io">AFST Pro</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://octrozil.net/">octrozil.net</a></li>
                <li><a href="http://beftahk.com/">Beftahk</a></li>
                <li><a href="https://facebook.com/brokeN2bespokeN/">broke2bespoke</a></li>
                <li><a href="https://facebook.com/Xzuku">Xzuku</a></li>
                <li><a href="https://facebook.com/ProductiveDaydreams"></a></li>
                <li><a href="https://afst.pro">AFST.pro</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="masthead">
    <div class="container">
        <h1>Arts Fashion Sports Technology</h1>
        <h2>AFST.pro <a href="http://brunch.io/">brunch</a> skeleton based on brunch-pineapples-in-a-can</h2>

        <div class="windows">
            <div class="image-left">
                <img class="img-responsive" src="img/browser-window-3.png"/>
            </div>
            <div class="image-center">
                <img class="img-responsive" src="img/browser-window-2.png"/>
            </div>
            <div class="image-right">
                <img class="img-responsive" src="img/browser-window-1.png"/>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-anchor"></i>
                    <h5>Arts</h5>
                </div>

                <p>A selection of projects that utilise various aspects of the creative spectrum. Music, contemporary fine art, photography, illustration, graphic design, ceramics, sculpture, bespoke jewellery and fashion design and more!</p>
            </div>
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-moon-o"></i>
                    <h5>Fashion</h5>
                </div>

                <p>Handcrafted designer jewellery, clothing, accessories and home decoration.</p>
            </div>
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-cogs"></i>
                    <h5>Sports</h5>
                </div>

                <p>Football Academy Clubs Teams and Training<br />Tennis Training and Techniques<br />Personal Fitness Training<br />Dance for Fitness<br />Links and Statistics for Sports</p>
            </div>
        </div>
                <div class="info-bullet">
                    <i class="fa fa-cogs"></i>
                    <h5>Technology</h5>
                </div>

                <p>Updates and news about trends and development in Open Source programming, social networking, IT and gadgets.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a class="pull-right" href="https://facebook.com/Xzuku">Xzuku Pixi</a>
            </div>
        </div>
    </div>
</footer>